.e28_6 { 
	overflow:hidden;
}
.e28_6 { 
	background-image:linear-gradient(0deg, rgba(68.00000354647636, 104.00000140070915, 152.0000061392784, 1) 0%,rgba(4.000000236555934, 22.000000588595867, 44.000001177191734, 1) 100%) ;
	width:1481px;
	height:2222px;
	position:absolute;
}
.e28_9 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 158.00000578165054, 204.00000303983688, 1) 0%,rgba(2.000000118277967, 0, 42.000001296401024, 1) 100%) ;
	width:1301px;
	height:530px;
	position:absolute;
	left:90px;
	top:102px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e28_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:1306px;
	height:702px;
	position:absolute;
	left:90px;
	top:632px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e28_11 { 
	background-image:linear-gradient(0deg, rgba(98.00000175833702, 219.0000021457672, 162.00000554323196, 1) 0%,rgba(1.0000000591389835, 1.0000000591389835, 39.00000147521496, 1) 100%) ;
	width:1301px;
	height:526px;
	position:absolute;
	left:95px;
	top:1334px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e34_116 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:36px;
	position:absolute;
	left:816px;
	top:1607px;
	font-family:Indie Flower;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e28_12 { 
	background-image:linear-gradient(0deg, rgba(137.00000703334808, 173.00000488758087, 207.00000286102295, 1) 0%,rgba(6.000000117346644, 28.000000230968, 49.00000087916851, 1) 100%) ;
	width:1481px;
	height:200px;
	position:absolute;
	left:0px;
	top:2022px;
	border-radius:30px;
}
.e29_34 { 
	background-color:rgba(6.000000117346644, 12.000000234693289, 26.000000350177288, 1);
	width:1481px;
	height:57px;
	position:absolute;
	left:0px;
	top:2165px;
}
.e29_35 { 
	color:rgba(255, 255, 255, 1);
	width:413px;
	height:22px;
	position:absolute;
	left:540px;
	top:2183px;
	font-family:Constantia;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e29_36 { 
	color:rgba(90.5249972641468, 84.48999390006065, 84.48999390006065, 1);
	width:210px;
	height:22px;
	position:absolute;
	left:1253px;
	top:2199px;
	font-family:Constantia;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e28_13 { 
	color:rgba(255, 255, 255, 1);
	width:1115px;
	height:140px;
	position:absolute;
	left:188px;
	top:125px;
	font-family:Milonga;
	text-align:left;
	font-size:124px;
	letter-spacing:0;
}
.e28_14 { 
	color:rgba(255, 255, 255, 1);
	width:609px;
	height:45px;
	position:absolute;
	left:188px;
	top:534px;
	font-family:Milonga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e28_16 { 
	color:rgba(255, 255, 255, 1);
	width:715px;
	height:120px;
	position:absolute;
	left:188px;
	top:295px;
	font-family:Milonga;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_17 { 
	width:1237px;
	height:161px;
	position:absolute;
	left:124px;
	top:662px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_18 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:205px;
	height:201px;
	position:absolute;
	left:188px;
	top:945px;
}
.e28_20 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:205px;
	height:201px;
	position:absolute;
	left:493px;
	top:945px;
}
.e28_21 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:205px;
	height:201px;
	position:absolute;
	left:800px;
	top:945px;
}
.e28_22 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:205px;
	height:201px;
	position:absolute;
	left:1100px;
	top:945px;
}
.e28_23 { 
	width:180px;
	height:187.9803009033203px;
	position:absolute;
	left:811px;
	top:951px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_24 { 
	width:180px;
	height:180px;
	position:absolute;
	left:506px;
	top:956px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_25 { 
	width:170px;
	height:172.7127685546875px;
	position:absolute;
	left:1118px;
	top:959px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_19 { 
	width:202px;
	height:219px;
	position:absolute;
	left:180px;
	top:936px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_98 { 
	width:495px;
	height:504px;
	position:absolute;
	left:916px;
	top:1356px;
	background-image:url(images/imagen_2023_06_21_103911364_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_106 { 
	width:751px;
	height:282px;
	position:absolute;
	left:343px;
	top:1334px;
	background-image:url(images/imagen_2023_06_21_104840739_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_107 { 
	color:rgba(0, 0, 0, 1);
	width:591px;
	height:188px;
	position:absolute;
	left:420px;
	top:1410px;
	font-family:Indie Flower;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e34_108 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:188px;
	position:absolute;
	left:136px;
	top:1597px;
	font-family:Indie Flower;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e34_109 { 
	background-color:rgba(110.6360337138176, 147.86655753850937, 243.6022835969925, 1);
	width:511px;
	height:18px;
	position:absolute;
	left:289px;
	top:1610px;
}
.e34_110 { 
	background-color:rgba(111.00000098347664, 148.000006377697, 244.0000006556511, 1);
	width:338px;
	height:18px;
	position:absolute;
	left:289px;
	top:1654px;
}
.e34_111 { 
	background-color:rgba(111.00000098347664, 148.000006377697, 244.0000006556511, 1);
	width:338px;
	height:18px;
	position:absolute;
	left:289px;
	top:1698px;
}
.e34_112 { 
	background-color:rgba(111.00000098347664, 148.000006377697, 244.0000006556511, 1);
	width:203px;
	height:18px;
	position:absolute;
	left:289px;
	top:1741px;
}
.e34_113 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:36px;
	position:absolute;
	left:499px;
	top:1738px;
	font-family:Indie Flower;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e34_114 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:36px;
	position:absolute;
	left:643px;
	top:1695px;
	font-family:Indie Flower;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e34_115 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:36px;
	position:absolute;
	left:643px;
	top:1654px;
	font-family:Indie Flower;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e17_30 { 
	width:60px;
	height:55px;
	position:absolute;
	left:534px;
	top:2062px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_31 { 
	width:60px;
	height:55px;
	position:absolute;
	left:700px;
	top:2062px;
	background-image:url(images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_33 { 
	width:60px;
	height:55px;
	position:absolute;
	left:866px;
	top:2062px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}